.container {
  margin-top: 100px;
  height: calc(100vh - 100px);
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: wheat;
  margin-bottom: 8px;
}

.locWrapper {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.location {
  font-size: 18px;
  font-weight: 600;
  color: whitesmoke;
  margin-bottom: 16px;
}

.text {
  font-size: 16px;
  color: whitesmoke;
  margin-bottom: 30px;
}

.backLink {
  display: flex;
  gap: 8px;
  color: darkgray;
  margin-bottom: 20px;
  transition: var(--animation);
}

.backLink:hover {
  color: rgb(247, 203, 123);
}

.scrollWrapper {
  padding: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 15px 100px -14px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 15px 100px -14px rgba(66, 68, 90, 1);
  box-shadow: 2px 15px 100px -14px rgba(66, 68, 90, 1);
}

.list {
  height: 450px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-basis: calc((100% - 15px) / 2);
  flex-wrap: wrap;
  gap: 15px;
}

.subTitle {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: whitesmoke;
}
